body {
    font-family: Verdana;
    font-size: 16px;
    line-height: 1;
    margin: 0;
    padding: 0;
    width: 100%;
    /* background-color:rgba(15, 15, 15, 0.5); */
    background-color: #868686;
}

p {
    line-height: 30px;
}

#clock-container {
    width: 250px;
    margin: 0 auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.486);
    border-radius: 20px;
    margin-top: 20px;
}

.date {
    display: flex;
    justify-content: center;
    font-size: 0.8em;
    color: rgb(133, 132, 132);
}

.clock {
    display: flex;
    justify-content: center;
    color: lightgray;
    line-height: 2;
    margin-top: 5px;
}

#header-container {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-bottom: 2px dotted black;
}

.header {
    display: inline-flex;
}

#navigation-bar {
    display: inline-flex;
    justify-content: center;
    gap: 50px;
    width: 505px;
}

a {
    padding: 5px;
}

a:hover {
    background-color: rgb(51, 51, 51, 0.25);
}

#checkout-cart {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#checkout-cart {
    border-bottom: 2px dotted black;
}

.cart {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat (3, 1fr);
    gap: 25px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(211, 211, 211, 0.575);
    margin-bottom: 20px;
}

.items {
    text-align: center;
    border-radius: 20px;
    margin-top: 20px;
    background-color: lightgray;
    padding: 15px;
    border: 2px solid black;
}

.quantity-field {
    height: 25px;
    width: 40px;
    border: 2px inset black;
    padding: 4px;
    background-color:rgba(48, 11, 255, 0.425)
}

#pay-section {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    height: 350px;
    margin-top: 20px;
    border-bottom: 2px dotted black;
}

.text-box-name, .text-box-address {
    height: 25px;
    background-color: rgba(187, 190, 2, 0.671)
}

.confirm-payment {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(211, 211, 211, 0.575);
}

.shipping-details {
    text-align: center;
}

.text-box-name:hover, .text-box-address:hover {
    background-color: lightgray;
}

.hide {
    display: none;
}

.error {
    color: rgb(192, 40, 40);
    font-weight: bold;
}

#map-container {
    width: 800px;
    height: 500px;
    margin: 0 auto;
    padding: 20px;
}

#myMap {
    width: 100%;
    height: 400px;
}

.map-text-container {
    color: white;
    text-align: center;
}

/* example of selecting different HTML elements without adding extra classes or IDs */
.cart div:nth-child(1){
    background-color: pink;
}

.cart div:nth-child(2){
    background-color: violet;
}

.cart div:nth-child(3){
    background-color: orange;
}

.cart div:nth-child(4){
    background-color: cyan;
}

.cart div:nth-child(5){
    background-color: antiquewhite;
}

.cart div:nth-child(6){
    background-color: gold;
}

/* some responsive css */
@media screen and (max-width: 850px) {
    .cart {
        grid-template-columns: 1fr;
    }
}